body{
    background-color:rgba(245, 248, 255, 1);
}
/* font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#4E47FF;
    margin: 50px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: bold;
}

.btn-primary{
    background-color:#4E47FF;
    font-weight:bold;
    font-size: 16px;
    color: white;
    padding:  12px 36px;
    border: none;
    border-radius: 10px;
}
/* header style*/
.primary-bg{
    background-image: url("../Assets/Hero-bg.png");
    height: 690px;
    width: 100% ;
}
.bannar-title{
    font-size: 55px;
    font-weight:600px;
    text-align: center;
}
/* main style */
.about{
    display: flex;
    justify-content: space-around;
   padding: 115px 160px; 
}
.section-title{
    font-size: 45px;
    font-weight: bold;
}
.section-discription{
    font-size:24px;
    color:rgba(37, 36, 50, 0.5);
}
.profile-pic{
    width: 400px;
    height:328px;
    border-radius:48px;
}
.section-title-2{
    font-size: 38px;
    font-weight: bold;
}
.Users{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-bottom: 30px;
}
.achievement{
    font-size: 60px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 100px;
}
.section{
    background-color:rgba(78, 71, 255, 0.18);
    max-width: 1140px;
    height:300px;
    margin: 0 auto;
    padding: 120px 150px ;
    text-align: center;
    border-radius:25px;
  
}
.fonts{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
/* form */
.form-content{
    padding: 65px 150px;
    display: flex;
    gap:115px;
}
 .form-section,h2{
    font-size: 97;
    font-weight: bold;
}
 .form-section{
    width: 50%;
 }
 footer input[type="text"], footer input[type="email"], footer textarea{
    height: 70px;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    padding:0px 20px 20px;
    box-shadow:rgba(255, 255, 255, 1) ;
}
.btn-secondary{
   width: 106%;
   max-height: 70px;
}
.fine{
font-size: 97px;
font-weight: bold;
}
.form-discription{
    padding: 40px 400px;
    /* justify-content: center; */
    text-align: center;
    width: 1440px;
    height: 428px;
    margin-left: 10px;
}
.fonts_2{
    font-size: 100px;
    width: bold;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0px;
}
.fonts_3{
    color: #8987A1;
}
.anchor-tag ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.anchor-tag ul li{
    list-style: none;   
}
.anchor-tag ul li a{
    text-decoration: none;
   color:#8987A1 ;
}